<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Splitwise Clone</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
</head>
<body>
    {% include 'components/navbar.html' %}
    {% if get_flashed_messages(with_categories=true) %}
  <div class="flash-container">
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="flash flash-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}
    
    <main class="flex-1">
        {% block content %}{% endblock %}
    </main>
    
    {% include 'components/footer.html' %}
</body>
</html>
