<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/mobile-responsive.css">
    <title>Split Wisely - Your Smart Expense Companion</title>
    <link rel="stylesheet" href="../static/css/landing.css">
    <link rel="stylesheet" href="../static/css/page-transitions.css">
</head>
<body>
    <!-- Animation karliya for bubblle one -->
    <div class="particle" style="width: 80px; height: 80px; left: 10%; animation-delay: 0s;"></div>
    <div class="particle" style="width: 60px; height: 60px; left: 30%; animation-delay: 2s;"></div>
    <div class="particle" style="width: 100px; height: 100px; left: 50%; animation-delay: 4s;"></div>
    <div class="particle" style="width: 70px; height: 70px; left: 70%; animation-delay: 1s;"></div>
    <div class="particle" style="width: 90px; height: 90px; left: 85%; animation-delay: 3s;"></div>

    <div class="container">
   
        <div class="logo-container">
            <h1 class="text-logo">SPLIT WISELY</h1>
        </div>

        <!-- Slogan with smooth fade-in -->
        <div class="slogan">
            Share Moments,<br><span class="slogan-highlight">Not Bills</span>
        </div>

        <p class="subtitle">Experience the joy of friendship without the hassle of splitting expenses</p>

        <!-- Call to Action -->
        <a href="login.html" class="cta-button">Get Started</a>
    </div>

    <script src="../static/js/landing.js"></script>
    <script src="../static/js/mobile-menu.js"></script>
</body>
</html>