<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            Splitwise clone
        </div>
        <div class="footer-links">
            <a class="footer-link" href="/">
                Privacy
            </a>
            <a class="footer-link" href="/">
                About
            </a>
            <a class="footer-link" href="/">
                Contact
            </a>
        </div>
        <div class="footer-copy">
            © {{ current_year }} Splitwise. All rights reserved
        </div>
    </div>
</footer>
